:root {
  --accent-color: #2196f3;
  --text-accent-color: #fff;
  --non-hover-color: #757575;
  --hover-accent-color: #000;
}
/* header */
html {
  scroll-behavior: smooth;
}
header {
  padding: 24px 0;
}
.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
.container-flex {
  display: flex;
  align-items: center;
}
.navigation_list {
  display: flex;
}
.logo_text {
  color: var(--accent-color);
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-right: 90px;
}
.logo_text-chose {
  color: var(--hover-accent-color);

  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.navigation_item {
  position: relative;
}
.navigation_item::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 28px;
  border-radius: 2px;
  background: var(--accent-color);
  transform: scale(0);
  transition-duration: 250ms;
  transition-property: transform;
  transition-timing-function: ease-in-out;
}
.navigation_item:hover::after {
  transform: scale(1);
  background-color: var(--accent-color);
}
.navigation_text {
  color: var(--hover-accent-color);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* не певен, що так правильно */
.navigation_item:hover > .navigation_link > .navigation_text {
  color: var(--accent-color);
}
.navigation_item:not(:last-child) {
  margin-right: 50px;
}
.navigation {
  margin-right: 310px;
}

.contacts {
  display: flex;
}

.contacts_item:not(:last-child) {
  margin-right: 30px;
}
.contacts_link {
  color: var(--non-hover-color);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts_item {
  display: flex;
  align-items: center;
}
.contacts_item:hover > .contacts_svg-email {
  fill: var(--accent-color);
}
.contacts_item:hover > .contacts_svg-tel {
  fill: var(--accent-color);
}
.contacts_item:hover > .contacts_link {
  color: var(--accent-color);
}
.contacts_svg-email {
  width: 16px;
  height: 12px;
  fill: var(--non-hover-color);
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts_svg-tel {
  width: 10px;
  height: 16px;
  fill: var(--non-hover-color);
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* main */
/* hero */
.hero {
  padding: 200px 0;
  background-image: url(./assets/img/hero.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero_heading {
  color: var(--text-accent-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.hero_button {
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
  padding: 10px 32px;
  display: block;
  margin: 0 auto;
}
.hero_button-text {
  color: var(--text-accent-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}
/* advantages */
.advantages_list {
  display: flex;
}
.advantages_item:not(:last-child) {
  margin-right: 30px;
}
.advantages {
  padding: 94px 0px;
}
.advantages_heading {
  color: var(--hover-accent-color);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages_item-beforeBackground::before {
  margin-bottom: 30px;
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
}
.advantages_text {
  color: var(--non-hover-color);
  width: 270px;
  font-family: "Roboto";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.advantages_item-beforeSVGAntenna::before {
  content: "";
  background-image: url(./assets/svg/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.advantages_item-beforeSVGClock::before {
  content: "";
  background-image: url(./assets/svg/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.advantages_item-beforeSVGAstronaut::before {
  content: "";
  background-image: url(./assets/svg/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.advantages_item-beforeSVGDiagram::before {
  content: "";
  background-image: url(./assets/svg/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}
/* products */
.products {
  padding-bottom: 94px;
}
.products_div {
  position: relative;
}
.products_img {
  width: 370px;
  height: 294px;
}
.products_list {
  display: flex;
}
.products_heading {
  color: var(--hover-accent-color);
  margin-bottom: 50px;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
.products_item:not(:last-child) {
  margin-right: 30px;
}
.products_box {
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 0px;
  position: absolute;
  bottom: 4px;
}
.products_text {
  color: var(--text-accent-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
/* profiles */
.profiles {
  padding: 94px 0px;
  background: #f5f4fa;
}
.profiles_photo {
  width: 270px;
  height: 260px;
}
.profiles_list {
  display: flex;
}
.profiles_heading {
  color: var(--hover-accent-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
/* може і неправильно давати ширину і висоту li */
.profiles_item {
  border-radius: 0px 0px 4px 4px;
  background: var(--text-accent-color);
  width: 270px;
  height: 428px;

  /* material shadow v1 */
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.profiles_name {
  color: var(--hover-accent-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.profiles_profession {
  color: var(--non-hover-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
.div_biography {
  margin-top: 30px;
  margin-bottom: 15px;
}
.profiles_media_svg {
  width: 20px;
  height: 20px;
  fill: var(--non-hover-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.profiles_media_list {
  display: flex;
  justify-content: center;
}
.profiles_media_item:not(:last-child) {
  margin-right: 15px;
}
.profiles_media_item:hover > .media_circle_div {
  background-color: var(--accent-color);
}
.profiles_media_item:hover > .media_circle_div > .profiles_media_svg {
  fill: rgba(255, 255, 255, 1);
}
.media_circle_div {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* не зовсім правильно */
.media_circle_div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profiles_item:not(:last-child) {
  margin-right: 30px;
}
/* partners */
.partners_svg {
  fill: rgba(175, 177, 184, 1);
  width: 105px;
  height: 60px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.partners_div {
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* 1 px solid обов'язково прописав, бо без цього не працює */
.partners_item:hover > .partners_div {
  border: 1px solid var(--accent-color);
}
.partners_item:hover > .partners_div > .partners_svg {
  fill: var(--accent-color);
}
.partners {
  padding: 94px 0px;
}
.partners_heading {
  margin-bottom: 50px;
  color: var(--hover-accent-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.partners_list {
  display: flex;
}
.partners_item:not(:last-child) {
  margin-right: 30px;
}

/* footer */
.footer {
  background: #2f303a;
  padding: 60px 0px;
}
.footer_info_text {
  color: var(--text-accent-color);
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
}
.footer_info_text-chose {
  color: var(--accent-color);
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.address {
  color: var(--text-accent-color);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  margin-bottom: 10px;
}
.footer_info_contacts_link {
  color: var(--non-hover-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.footer_info {
  margin-right: 70px;
}
.footer_social {
  margin-right: 90px;
}
.footer_social_heading {
  color: var(--text-accent-color);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer_social_list {
  display: flex;
}
.footer_div-circle_svg {
  fill: var(--text-accent-color);
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_div-circle {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_social_item:hover > .footer_div-circle {
  background-color: var(--accent-color);
}
/* чи має сенс, якщо колір не змінюється? */
.footer_social_item:hover > .footer_div-circle > .footer_div-circle_svg {
  fill: var(--text-accent-color);
}
.footer_social_item:not(:last-child) {
  margin-right: 10px;
}
.footer_info_contacts-email {
  margin-bottom: 10px;
}
.footer_input_label {
  display: block;
  color: var(--text-accent-color);
  margin-bottom: 20px;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer_button {
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.footer_button_svg {
  width: 24px;
  height: 24px;
  fill: var(--text-accent-color);
}
.inDiv_footer_button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_button_text {
  color: var(--text-accent-color);

  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  margin-right: 10px;
}
.footer_input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: var(--text-accent-color);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.96px;
  outline: none;
  margin-right: 10px;
}
/* хоча там не сказано, який буде шрифт при написанні в input*/
.footer_input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
}
.footer_div-flex {
  display: flex;
}
/* modal */
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1) 1s,
    visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1) 1s,
    transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 1s;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--text-accent-color);
}

.no-scroll {
  overflow: hidden;
}
.modal-container {
  margin: 0 auto;
  width: 528px;
  padding: 0px 40px;
}
.button_hero-close {
  /* трохи призвабув як краще тут записати замість margin */
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 2px;
  padding: 6px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.button_hero-close:hover {
  fill: var(--accent-color);
}
.terms_text {
  margin-left: 10px;
  color: var(--non-hover-color);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.modal-close-divFlex {
  display: flex;
  justify-content: flex-end;
}
.header_form {
  color: var(--hover-accent-color);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.label_text {
  color: var(--non-hover-color);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.label_text {
  display: block;
}
.modal_Input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
}
.textarea_first {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  color: var(--non-hover-color);
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 4px;
}
.textarea_first::placeholder {
  color: rgba(117, 117, 117, 0.5);

  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.textarea_first:focus {
  outline: 1px solid var(--accent-color);
}
.span_modal {
  position: relative;
}
.div-label {
  margin-bottom: 5px;
}
.div-label:not(:first-child) {
  margin-top: 10px;
}

.svg_modalka {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0px;
  left: 12px;
}
.terms {
  color: var(--accent-color);
  text-decoration: underline;
}
.comment_label {
  margin-top: 10px;
  margin-bottom: 5px;
  display: block;
  color: var(--non-hover-color);
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.label_text {
  color: var(--non-hover-color);
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal_Input:focus {
  outline: 1px solidvar(--accent-color);
}
.modal_Input:focus + .svg_modalka {
  fill: var(--accent-color);
}
.box_checkbox {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* центруватись за контейнером не захотілось */
.modalka_submitButton {
  margin: 0 auto;
  margin-top: 30px;
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--text-accent-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  border: none;
}
input:target {
  border: 1px solid var(--accent-color);
}
