%button {
  display: block;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: var(--accent-color);
  border-radius: 4px;
}
// чи треба всюди вносити деякі ідентичні властивості з header'у
